fastapi>=0.110.0
uvicorn[standard]>=0.27.0
python-multipart>=0.0.9          # bắt buộc cho UploadFile (form-data)

SQLAlchemy>=2.0.0
alembic>=1.13.0

pydantic-settings>=2.0.0
python-dotenv>=1.0.0

google-generativeai>=0.5.2
pillow>=10.2.0
numpy>=1.24.0
